/*=== 隐藏browser-sync提示 ===*/
#__bs_notify__ {
    display: none !important;
}

.old-content {
    display: none;
}

body {
    font-size: 18px;
}
#header {
    padding: 30px 0;
}
#main p {
    line-height: 1.8em;
}
#main table {
    width: 60%;
}
.important {
    color: #f00;
}
